* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

body {
  background-color: #21212c;
}

.pageTitle {
  padding: 1rem;

  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
  }
}

.insertTaskArea {
  display: block;
  margin: 1rem auto;
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    font-size: 1.3em;
    margin: 1rem auto;
  }

  input[type="text"] {
    width: 400px;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    color: #000;
    font-size: 1.2em;
  }
}

.radioArea {
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  margin: 1rem auto;

  .custom-radio {
    display: flex;
    column-gap: .5rem;

    label {
      display: flex;
      align-items: center;
      column-gap: .5rem;
      cursor: pointer;
    }
  }
}

.radioArea .custom-radio input {
  visibility: hidden;
}

.radioArea .custom-radio input + label::before {
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.radioArea .custom-radio input:checked + label::before {
  border: 5px solid #fff;
  box-sizing: border-box;
  padding: 5px;
}

.btnAdicionar {
  display: block;
  margin: auto;
  padding: .5rem 2rem;
  background-color: #27272b;
  border-radius: 1rem;
  border: 1px solid #fff;
  cursor: pointer;

  font-size: 1.1em;
}

.btnAdicionar:hover {
  background-color: #fff;
  color: black;
}

.section__tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 2.5rem auto;
}

.taskArea {
  border: 1px solid #fff;
  height: 350px;
  min-width: 350px;
  padding: 1rem;
  border-radius: 1rem;

  h2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    font-size: 1.2em;
    font-weight: 200
  }

  ul {
    padding-top: .5rem;
    max-height: 300px;
    overflow-y: scroll;
  }
}

ul::-webkit-scrollbar {
  width: 0;
}

.eachTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin: 1rem auto;
  font-size: 1.3em;
  background-color: #44445c94;
  border-radius: 1rem;
  border: 1px solid #ffffff3b;

  span {
    display: flex;
    align-items: center;
    column-gap: .4rem;

    .icon__dot {
      font-size: 1.2em;
      margin-top: 2px;
      cursor: pointer;
    }
  }
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  margin-bottom: 3px;
}

.custom-checkbox input {
  visibility: hidden;
}

.custom-checkbox input + label {
  position: relative;
  cursor: pointer;
}

.custom-checkbox input + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 3px;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.custom-checkbox input:checked + label::before {
  background-color: #ffffff;
}

.custom-checkbox input + label::after {
  content: '✓';
  position: absolute;
  top: 5px;
  left: 3px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-checkbox input:checked + label::after {
  opacity: 1;
}

.taskOptions {
  display: block;
  position: relative;
  width: 30px;
  top: -20px;
  left: 280px;
  z-index: 10;
  background-color: #353547;
  border: 1px solid #ffffff60;
  padding: .8rem;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem auto;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
  }
}